{% extends "main/base.html" %}
{% block content %}
<style>
    body{
        background-color: rgb(255, 255, 255);
    }
    a.disabled {
  pointer-events: none;
  cursor: default;
}
</style>
    <div class="container">

        {% for item in itemsR %}
            {% with user_like=item.users_likes.all %}
            <h1>Autor: {{ item.writer}}</h1>
            <h1>Restaurante: {{ item.restaurant}}</h1>
            <p>Avaliação: {{ item.stars }} estrelas</p>
            <p style="margin: 5%; border:solid;">Detalhes: {{ item.detail }}</p>
            <form action="{% url 'like_rate' item.id %}" method="post">
                {% csrf_token %}
             {% if request.user in user_like %}
             <button type="submit" name="id" value="{{ item.id }}" class="btn btn-danger">Dislike</button>
             {% else %}
             <button type="submit" name="id" value="{{ item.id }}" class="btn btn-primary" >Like</button>
             {% endif %}
             Total de likes: {{user_like.count}}
            </form>
            <button id="likeButton" onclick="increment()">Like</button>
        <script>
            var buttons = document.getElementsByTagName('button');
            for(let i=0;i<buttons.length;i++){
                buttons[i].addEventListener('click', function(event){
                event.target.disabled = true;});}
                ;      
        </script>
      <hr>
            {% endwith %}
        {% endfor %}
    </div>

{% endblock content %}