{% extends 'main/base.html' %}
{% block content %}<p>CheckRant</p>

    <h2>seja bem vindo, {{ user.get_full_name|default:user.username }}!</h2>
  
    <ul>
        <li><a href="{% url 'pub.index' %}">Publicar avaliação</a></li>

        <li><a href="{% url 'rant.index' %}">Cadastro de restaurante</a></li>

        <li><a href="{% url 'comment.index' %}">Comentario</a></li>
        
        <br/>
        <br/>

        <li>nova história: <a href="{% url 'viewReview.index' %}">Curtidas</a></li>

        <li>nova história: <a href="{% url 'favorite.index' %}">Favoritar</a></li>
        <p>nova história:</p>
        <li> <a href="{% url 'main:editar_user' %}">Editar perfil</a></li>
    </ul>
    <table>
        <tr>
          <th>Nome</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>{{ user.get_full_name|default:user.username }}</td>
          <td>{{ user.username }}</td>
          <td> {{ user.email }}</td>
        </tr>
      </table>

      <br/>
      <br/>        
      <br/>

    <a href="{% url 'main:user_logout' %}">Fazer Logout</a>


{% endblock content %}
